body
{
    background: #F1F1F1;
    font-family: 'Exo', sans-serif;
}
header
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}
header h2
{
    font-family: 'Courgette', cursive;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    margin-bottom: auto;
    margin-top: 0px;
}
header h4
{
    margin-top: 2px;
    font-family: 'Amatic SC', cursive;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}
content
{
    width: 100%;
    height: 100%;
}


#sidebar
{
    top: 0%;
    left: -25%;
    position: fixed;
    background: #191919;
    color: #eee;
    height: 100%;
    width: 29%;
    float: left;
    z-index: 25;
    transition: left 0.8s ease-out 0s;
}
#sidebar:hover
{
    left: 0;
}
#sidebar ol
{
    list-style-type: none;
}
#sidebar ol>li
{
    margin-top: 18px;
}
#sidebar ol>li a
{
    text-decoration: none;
    color: #eee;
}
#sidebar ol>li a:hover
{
    color: #AA1133;
    transition: 1s color;
}

#glowna
{
    margin-left: 5%;
}
.zdj
{
    border-radius: 100px;
    float: left;
}
#glowna b
{
    font-size: 32px;
}

.tabelka
{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #4C4C4C;
    text-align: center;
}
.tabelka tr
{
    border-style: solid;
    border-color: #4C4C4C;
    border: 1px;
}
.tabelka tr>td
{
    border: 1px;
    border-style: solid;
    border-color: #4C4C4C;
    margin-right: 20px;
}
.Pierwsza
{
    font-size: 35px;
}
.reszta
{
    font-size: 20px;
}
.Obiektyw
{
    text-decoration: none;
    color: black;
}